# Kibana is served by a back end server. This setting specifies the port to use.
server.host: {{ kibana_server_host }}
server.port: {{ kibana_server_port }}
elasticsearch.hosts: "http://"{{ es_network_host }}":"{{ es_http_port }}""

kibana.index: "{{ kibana_kibana_index }}"
logging.dest: "{{ logstash_path_logs }}"
logging.verbose: "{{ logging_verbose }}"
