metricbeat.modules:
- module: system
  metricsets:
    - cpu
    - filesystem
    - memory
    - network
    - process
    - diskio
  enabled: true
  period: 10s
  cpu_ticks: false

output.elasticsearch:
  hosts: ["{{ es_cluster_ip }}:{{ es_local_port }}"]
 
  ### Console output
  # console:
    # Pretty print json event
    #pretty: false
