# Select the network interfaces to sniff the data. You can use the "any"
# keyword to sniff on all connected interfaces.
interfaces:
  device: any

#Define protocols here
protocols:
  dns:
    ports: [53]

    include_authorities: true
    include_additionals: true

  http:
    ports: [80, 8080,8443]

  memcache:
    ports: [11211,666,888,999]

  mysql:
    ports: [3306]

  pgsql:
    ports: [5432]

  redis:
    ports: [6379,26397]

  thrift:
    ports: [9090]

  mongodb:
    ports: [27017]

output.elasticsearch:
  hosts: ["{{ es_cluster_ip }}:{{ es_local_port }}"]
