# Config File for Elasticsearch
cluster.name: {{ es_cluster_name }}
path.data: {{ es_path_data }}
path.logs: {{ es_path_logs }}
http.port: {{ es_http_port }}
network.host: {{ ansible_default_ipv4.address }}
node.master: {{ es_node_master }}
node.name: {{ es_node_name }}

bootstrap.memory_lock: {{ es_bootstrap_memory_lock }}
